* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.grid-cell {
    height: 100px;
    width: 100px;
    border: 1px black solid;
}

.active-x {
    background-color: blue;
}

.active-x::before {
    content: 'X';
}

.active-o {
    background-color: red;
}

.active-o::before {
    content: 'O';
}

.claimed {
    border: 10px rgb(217, 219, 217) groove;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding: 2px 0;
    color: white;
}